<div>
  {{ title }}
</div>

<form action="form" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="start_date">Begin</label>
    <input type="date" name="start_date">
  </div>
  <div>
    <label for="end_date">End</label>
    <input type="date" name="end_date">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>